:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --bg: #534741;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel-art {
  image-rendering: pixelated;
}